PORT=3001
NODE_ENV=development
MINECRAFT_VERSION=1.21.11
MOD_LOADER=fabric
MODS_FOLDER=./mods
BACKUP_FOLDER=./mods_backup
UPDATED_MODS_FOLDER=./updated_mods
CURSEFORGE_API_KEY=your_api_key_here
ANTHROPIC_API_KEY=
MONGODB_URI=mongodb://admin:change-me@localhost:27017/mods-craft?authSource=admin
